.add-member-page {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.left-section {
  flex: 1;
  background: url("../../assets/img/sven-mieke-MsCgmHuirDo-unsplash.jpg") center/cover no-repeat;
  filter: brightness(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-box {
  background: rgba(255, 255, 255, 0.064);
  padding: 30px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  text-align: center;
  color: white;
  max-width: 70%;
  font-size: 1.5rem;
  font-weight: 600;
}

.right-section {
  flex: 1;
  background: linear-gradient(to right, #ffffffd8, #ffffffde);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.glass-form {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 450px;
}

.glass-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #222;
}

.glass-form input,
.glass-form select {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.glass-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.glass-form button:hover {
  background: #444;
}

.success-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 450px;
}

.success-container h2 {
  margin: 20px 0;
  color: #222;
}

.success-container button {
  padding: 12px 20px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.success-container button:hover {
  background-color: #444;
}
select {
  background: rgba(255, 255, 255, 0.1);
  color: rgb(103, 103, 103);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 10px;
  font-size: 16px;
  backdrop-filter: blur(8px);
}
input{
  color: rgb(103, 103, 103);
  
}