/* App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6; /* Light grey background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  height: 100%;
}
